#### Python 3 Tutorial ( will be updated frequently )

In [1]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [2]:
# Addition
num1 + num2

7

In [3]:
# Subtraction
num2 - num3

-10.41

In [4]:
# Multiplication
num3 * num4

-4.446

In [6]:
# Division
20 / 5

4.0

In [7]:
# Exponent
num5 ** num6

343

In [9]:
# Increment existing variable
num7 += 4
num7

19.11

In [10]:
# Decrement existing variable
num6 -= 2
num6

1

In [11]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [12]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [13]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [14]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [15]:
# Is the first expression less than the second expression?
num5 < num6

False

In [16]:
# Is this expression True?
5 > 3 > 1

True

In [17]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [18]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [19]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [20]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [21]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [22]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [24]:
#Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [25]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [26]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [27]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [28]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [29]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [30]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [31]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [33]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [34]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [35]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [36]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [37]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

In [38]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [39]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [40]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [41]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [42]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [43]:
 # Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [44]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [46]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [47]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [48]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [50]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [51]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [52]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

In [53]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [55]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [57]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [58]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [59]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [60]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [61]:
# Count number of occurences of a substring in the string
a_string.count('is')

2