In [14]:
#python : programming 
#python : interpreted 
#python : oop language

In [9]:
print (4)

4

In [10]:
print (5)

5

In [13]:
print ("skdksds")

skdksds

In [12]:
print (6)

6

In [18]:
print (4)

4

In [19]:
x = 5 
print(x)

5

In [20]:
x = "Ahmed"

In [22]:
x + " Gayed"

'Ahmed Gayed'

In [23]:
3 + 4

7

In [24]:
x

'Ahmed'

In [25]:
x = 5

In [27]:
num3 = 5

In [28]:
num3

5

In [29]:
num4

NameError: name 'num4' is not defined

In [30]:
#set-up Environment

In [31]:
'''
1- joined slack
2- installed : anaconda, cmder,
3- learned how pull & push 
4- got started with jupyter

next session : 
get started with python
'''

'\n1- joined slack\n2- installed : anaconda, cmder,\n3- learned how pull & push \n4- got started with jupyter\n\nnext session : \nget started with python\n'