#### Python 3 Tutorial ( will be updated frequently )

In [1]:
print (5)

5

## This is IEEE AI Camp

In [2]:
# python high level - interpreted - Object Oriented- Programming language

In [3]:
num1 = 4

In [4]:
num1 = "Ahmed"

In [5]:
num1 = 4

In [8]:
num1 = "Ahmed"

In [9]:
type(num1)

str

In [1]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [11]:
x= 4
y= 5

In [12]:
x+y

9

In [13]:
x- y

-1

In [2]:
# Addition
num1 + num2

7

In [3]:
# Subtraction
num2 - num3

-10.41

In [14]:
# Multiplication
x * y

20

In [18]:
# Division
y % x

1

In [19]:
# Exponent
x ** y

1024

In [21]:
# Increment existing variable
x+=y 
x

14

In [23]:
# Decrement existing variable
x-= y 
x

4

In [26]:
# Multiply & re-assign
x+=3
x

13

In [12]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [13]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [14]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [28]:
# Is the first expression less than the second expression?
print (x)
print (y)
x < y

13
5

False

In [29]:
# Is this expression True?
5 > 3 > 1

True

In [30]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [35]:
x = 3
y = 1.3
z = 'a'
h= False
print (type(x))
print (type(y))
print (type(z))
print (type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [36]:
x = "Ahmed"
y = "Mohamed"

In [37]:
x * 4

'AhmedAhmedAhmedAhmed'

In [38]:
x == y

False

In [41]:
x + " love IEEE"

'Ahmed love IEEE'

In [42]:
x = 'Ahmed'

In [43]:
x = "Ahmed"

In [44]:
x = 'a'
type (x)

str

In [45]:
x = 4
y = 5
if (x == y):
    print ("5 == 4")
else:
    print ("5 != 4")

5 != 4

In [51]:
if (3 > 2):
    print ("Yes")
else: 
    print ("False")

Yes

In [53]:
if (1):
    print("ahmed")

ahmed

In [ ]:
main: 

variables
data types
conditions 
containers 
loops
sorting algorithms 
seraching algorithms DATA SORTED
functions 
data structure
oop 
database

In [ ]:
# AI presepective :
Data Structure 
list
dict
set 
tuple

------------------------------
numpy (package handle all types of data )

Image (R, G, B) red green blue (0, 255) 0 --> black , 255 --> white
Strings Ascii code 
Number
Wave ( frequency ) --> sampling, quantization 
Video ( collected images fps + voice  )

numbers, strings ( word file, text file, excel file, cloud, website)
read, write, update, delete

cloud, server ( database ) (sql, firebase, access, oracle)
we use : mongodb 
keys : values 

cloud, server ( mongodb )
python



way to include this data ( read , preprocessing ) 


# python has its own data structure 
memory wise
processing wise

In [ ]:
# object oriented programming: 
concepts: oop main field optimize ( readability , speed )
how to implement ? best practice

numpy
pandas
matplotlib
seaborn 
pyAudioAnalysis
opncv
sikit learn 

objects , functions , classes ( best practice) 

Problem ( solve ):
1- brainstorm 
2- design solution 
3- verify solution 
4- implemenation 
// complexity 
generate model (model.pkl)

design libraries 
default argemens

In [96]:
list1 = [1, 3, 4, "ahmed", False , 12,4, [1,2,3,4]]

In [97]:
list1[2 : 4]

[4, 'ahmed']

In [98]:
# container 
list 
tuple 
set
dict

set

In [99]:
list1

[1, 3, 4, 'ahmed', False, 12, 4, [1, 2, 3, 4]]

In [100]:
list1.append(5)
list1

[1, 3, 4, 'ahmed', False, 12, 4, [1, 2, 3, 4], 5]

In [101]:
list1.append([1,3,4])

In [102]:
list1

[1, 3, 4, 'ahmed', False, 12, 4, [1, 2, 3, 4], 5, [1, 3, 4]]

In [75]:
list1.append(3)
list1.append(4)
list1.append(6)

In [76]:
list1

[1, 3, 4, 'ahmed', False, 12, 4, [1, 2, 3, 4], 5, [1, 3, 4], 3, 4, 6]

In [77]:
list1 += ["a", 'b', 'c']

In [94]:
list1
del list1

In [103]:
list1

[1, 3, 4, 'ahmed', False, 12, 4, [1, 2, 3, 4], 5, [1, 3, 4]]

In [87]:
list1

[1, 3, 4, 'ahmed', False, 5, [1, 3, 4], 4, 6, 'a', 'b', 'c']

In [92]:
len(list1)

10

In [105]:
list1[1] = 5
print (list1)

[1, 5, 4, 'ahmed', False, 12, 4, [1, 2, 3, 4], 5, [1, 3, 4]]

In [104]:
tuple1 = (1, 3, 3 ,4,5, 5, "gac", False, 13.5)

In [114]:
tuple1+= (3,4)
tuple1

(1, 3, 3, 4, 5, 5, 'gac', False, 13.5, 5, 'grapes', 3, 4, 3, 4)

In [115]:
list1 = [1]
tuple1 = (3,1)
set1 = {1,23,4,444,4,4,4,4}
print(type(list1))
print(type(tuple1))
print(type(set1))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [116]:
set1

{1, 4, 23, 444}

In [117]:
x = [1,3,4,5,56]

In [118]:
type(x)

list

In [119]:
thisisdic = {"name" : "Ahmed", "Age": 23, "Favoriteclub": ["Ahly", "real madrid"]}

In [127]:
thisisdic["name"]

'Ahmed'

In [128]:
list1 = [1,3,4]
tuple1 = (1,3,4)

In [129]:
list1[2]= 5
list1

[1, 3, 5]

In [132]:
tuple1
del tuple1[2]

TypeError: 'tuple' object doesn't support item deletion

In [54]:
# Assign some strings to different variables

simple_string1 = 'an example'
simple_string2 = "oranges "

In [19]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [20]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [21]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [22]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [49]:
#Assign some containers to different variables
list1 = [3, 5, 6.3, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [30]:
# Items in the list object are stored in the order they were added
list1

[4, 5, 6.3, 3, 'dog', 'cat', False, 6]

In [38]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [40]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [41]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [50]:
# Add and re-assign
list1 = [5, 'grapes'] + list1
list1

[5, 'grapes', 3, 5, 6.3, 3, 'dog', 'cat', False]

In [112]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(1, 3, 3, 4, 5, 5, 'gac', False, 13.5, 5, 'grapes')

In [52]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [58]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [59]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [61]:
# Access a range of items in a sequence
list1[4:]

[6.3, 3, 'dog', 'cat', False]

In [62]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [65]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][1]

'fruit'

In [66]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [39]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [69]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [70]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [163]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [164]:
 # Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [165]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [171]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [172]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [173]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [174]:
# Use the max() function to determine the largest item in a container
max('zibberisZ')

'z'

In [175]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [73]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'cat', 'dog'}"

In [149]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [151]:
# Return an uppercase version of the string
a_string = a_string.upper()
a_string

'THIS IS A STRING'

In [157]:
# Return a lowercase version of the string
a_string= a_string.lower()

In [155]:
# Notice that the methods called have not actually modified the string
a_string

'THIS IS A STRING'

In [159]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [160]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [162]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];

In [2]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [3]:

list = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ", list[2])

list[2] = 2001
print ("New value available at index 2 : ", list[2])

Value available at index 2 :  1997
New value available at index 2 :  2001

In [4]:
list = ['physics', 'chemistry', 1997, 2000]
print (list)

del list[2]
print ("After deleting value at index 2 : ", list)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

In [5]:
python_list = [1, -0.038, 'gear', True]
for item in python_list:
    print(type(item))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [74]:
l = [1,3,4,5,6,7,78] # 7 elements

In [113]:
def fun(x):
    for i in range(0, len(x)):
        if x[i] > 2000:
            x[i] = x[i] + 10
    return x

In [114]:
fun([1,2,3000,30000])

[1, 2, 3000, 30000]

In [133]:
l = [1,3,4,5,6,7,78]

In [145]:
item = 4
for i in range(len(l)):
    l[i] += 2

In [146]:
l

[7, 9, 10, 11, 12, 13, 84]

In [148]:
i = 0 
while (i < 11):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [176]:
def ahmed():
    print(4)

In [177]:
ahmed()

4

In [204]:
def increaseSalary(x):
    if (x > 2000):
        print(x+1000)

In [180]:
increaseSalary(4200)

5200

In [185]:
def calculateDistance(x, y):
    return (x+y)/2

In [196]:
x = calculateDistance(4,5)

In [197]:
x

4.5

In [202]:
x= increaseSalary(2000)

In [203]:
x

In [223]:
x = int(input("please enter anything "))

please enter anything 23

In [216]:
x

23

In [217]:
type(x)

int

In [222]:
#3 // 4 // 5 

x = int(input())

if ( x == 3):
    print("3")
elif (x == 4): 
    print ("4")
else: 
    print("5")

5
5

In [ ]:
# handle dynamic 

server 
operations -->